@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

.logo_phpcentral {
    font-weight: 900;
    font-style: italic;
    font-family: "Zen Dots";
    text-transform: lowercase;
    line-height: 0.9;
}

.logo_phpcentral.white {
    color: whitesmoke;
}

.php {
    color: #4f5b93;
}

.logo_phpcentral.big {
    font-size: 4rem;
}

.phpcentral_logo {
    font-size: 2rem;
    font-weight: 900;
    /* font-style: italic; */
    font-family: "Ubuntu";
    color: var(--bg);
    text-transform: uppercase;
    transform: skew(-15deg);
    line-height: 0.9;
    text-shadow: 1px 1px #fafafa;
    color: var(--text);
}
.phpcentral_logo span {
    color: var(--accent);
}
