body.light,
body {
    --bg: #fafafa;
    --text: #1e1e1e;
    --accent: #4f5b93;
    --header: var(--text);
}
body.dark,
body {
    --bg: #1e1e1e;
    --text: #fafafa;
    --accent: #4f5b93;
    --header: var(--text);
}
