:root {
	--light: #{$light};
	--dark: #{$dark};
	--soft: #{$soft};
	--orange: #{$orange};
	--blue: #{$blue};
}

body {
	&.light,
	& {
		--text: var(--dark);
		--bg: var(--light);
		--header: linear-gradient(
			90deg,
			rgba(var(--text), 0.05) 40%,
			rgba(var(--orange), 1) 75%,
			rgba(var(--blue), 1)
		);
		--menu: rgb(var(--orange));
		background: rgb(var(--bg));
		color: rgb(var(--text));
	}

	&.dark {
		--text: var(--light);
		--bg: var(--dark);
		--header: linear-gradient(
			90deg,
			rgba(var(--text), 0.05) 40%,
			rgba(var(--orange), 1) 75%,
			rgba(var(--blue), 1)
		);
		--menu: rgba(var(--soft), 1);
		background: rgb(var(--bg));
		color: rgb(var(--text));
	}
}
