:root {
	--slight: #{$slight};
	--hlight: #{$hlight};

	--sdark: #{$sdark};
	--hdark: #{$hdark};

	--orange: #{$orange};
	--blue: #{$blue};
}

body {
	&.light,
	& {
		--text: var(--hdark);
		--stext: var(--sdark);
		--bg: var(--slight);
		--header: var(--hlight);
		--menu: var(--hlight);
		background: var(--slight);
		color: var(--text);
	}

	&.dark {
		--text: var(--slight);
		--stext: #000;
		--bg: var(--hdark);
		--header: var(--sdark);
		--menu: var(--sdark);
		background: var(--bg);
		color: var(--text);
	}
}
