$dark: rgb(33, 33, 33);
$orange: #ff9100;
$blue: #2979ff;

$hdark: darken(mix($blue, $orange, 60%), 45%);
$sdark: lighten($dark, 5%);

$hlight: lighten($hdark, 85);
$slight: lighten($sdark, 95);

$font-size: 16px;
$font-family: 'Ubuntu';
$font-family-logo: 'Zen Dots';

$border-radius: 0.5rem;

$header_height: 3rem;
$nav_height: 3rem;
$main_height: calc(100% - $header_height - $nav_height);
$menu_height: calc($main_height - 2.5rem);
