$light: 250, 250, 250;
$soft: 55, 71, 79;
$dark: 33, 33, 33;
$blue: 63, 81, 181;
$blue: 41, 121, 255;
$orange: 255, 87, 34;
$orange: 255, 61, 0;

$Cblue: #2979ff;
$Corange: #ff3d00;
$Cdark: darken(mix($Cblue, $Corange, 60%), 45%);
$Clight: lighten($Cdark, 5%);

$orange: #ff9100;
$blue: #2979ff;

$hdark: #263238;
$sdark: #455a64;

$hdark: $Cdark;
$sdark: $Clight;

$hlight: #efebe9;
$slight: #fefefe;

$hlight: lighten($Cdark, 90);
$slight: lighten($Clight, 95);

$font-size: 16px;
$font-family: 'Ubuntu';
$font-family-logo: 'Zen Dots';

$border-radius: 0.5rem;

$header_height: 3rem;
$nav_height: 3rem;
$main_height: calc(100% - $header_height - $nav_height);
$menu_height: calc($main_height - 2.5rem);
